.flex {
	display: flex;
	&-column {
		flex-direction: column;
	}
}

.ju-co {
	&-between {
		justify-content: space-between;
	}
	&-center {
		justify-content: center;
	}
}

.al-it {
	&-center {
		align-items: center;
	}
}