@import './variables.less';

.font {
	// font-familiy 
	&-gotham {
		font-family: 'Gotham';
	}
	// font-weight
	&-bold {
		font-family: 'Basis Grotesque Bold';
		font-weight: 500;
	}
	&-300 {
		font-family: 'Basis Grotesque Light';
		font-weight: 300;
	}
	// font-size
	&-46 {
		font-size: 2.875rem;
	}
	&-32 {
		font-size: 2rem;
	}
	&-24 {
		font-size: 1.5rem;
	}
	&-14 {
		font-size: 0.875rem;
	}
}

.color {
	&-white {
		color: @white;
	}
	&-black {
		color: @black;
	}
}

.line-height {
	&-17 {
		line-height: 1.063rem;
	}
	&-19 {
		line-height: 1.188rem;
	}
	&-22 {
		line-height: 1.375rem;
	}
	&-28 {
		line-height: 1.75rem;
	}
	&-38 {
		line-height: 2.375rem;
	}
}

.background-color {
	&-white {
		background-color: @white;
	}
	&-blue {
		background-color: @blue;
	} 
	&-grey {
		background-color: @grey;
	}
}