@import './variables.less';

.font {
	// font-familiy 
	&-gotham {
		font-family: 'Gotham';
	}
	// font-weight
	&-bold {
		font-family: 'Basis Grotesque Bold';
		font-weight: 500;
	}
	// font-size
	&-46 {
		font-size: 2.875rem;
	}
	&-24 {
		font-size: 1.5rem;
	}
	&-14 {
		font-size: 0.875rem;
	}
}

.color {
	&-white {
		color: @white;
	}
	&-black {
		color: @black;
	}
}

.line-height {
	&-17 {
		line-height: 1.063rem;
	}
}