.home-intro {
  height: calc(100vh - 2.75rem);
  width: 100%;
  box-sizing: border-box;
  background-image: url('../assets/images/home_intro.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .home-intro {
    height: 34.375rem;
  }
}
@media screen and (max-width: 960px) {
  .home-intro {
    height: 80vw;
  }
}
.home-intro-play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 4.688rem;
  width: 4.688rem;
  cursor: pointer;
}
.home-intro-play-2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 2.688rem;
  width: 2.688rem;
  cursor: pointer;
}
.home-about {
  height: calc(100vh - 2.75rem);
}
@media screen and (max-width: 1366px) {
  .home-about {
    height: 100vh;
  }
}
@media screen and (max-width: 1024px) {
  .home-about {
    height: 45.375rem;
  }
}
@media screen and (max-width: 960px) {
  .home-about {
    height: auto;
  }
}
.home-about-background {
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/about_background.png');
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
.home-about-image {
  height: 100%;
  background-image: url(../assets/images/home_about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 960px) {
  .home-about-image {
    height: 80vw;
  }
}
.line-white {
  width: 6.125rem;
  min-width: 6.125rem;
  height: 1px;
  background-color: #ffffff;
}
@media screen and (max-width: 1366px) {
  .line-white {
    width: 4.125rem;
    min-width: 4.125rem;
  }
}
.line-black {
  width: 6.125rem;
  min-width: 6.125rem;
  height: 1px;
  background-color: #000000;
}
@media screen and (max-width: 1366px) {
  .line-black {
    width: 4.125rem;
    min-width: 4.125rem;
  }
}
.line-transparent {
  width: 6.125rem;
  min-width: 6.125rem;
  height: 1px;
  background-color: transparent;
}
@media screen and (max-width: 1366px) {
  .line-transparent {
    width: 4.125rem;
    min-width: 4.125rem;
  }
}
.line-small-black {
  width: 3.375rem;
  min-width: 3.375rem;
  height: 1px;
  background-color: #000000;
}
.image {
  width: 24vw;
  min-width: 17.725rem;
  height: 19.625rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 560px) {
  .image {
    height: 17.725rem;
  }
}
