@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: url('../assets/font/Gotham.ttf');
}
@font-face {
  font-family: 'Basis Grotesque Regular';
  font-weight: normal;
  src: url('../assets/font/BasisGrotesquePro-Regular.ttf');
}
@font-face {
  font-family: 'Basis Grotesque Light';
  font-weight: 300;
  src: url('../assets/font/BasisGrotesquePro-Light.ttf');
}
@font-face {
  font-family: 'Basis Grotesque Bold';
  font-weight: 500;
  src: url('../assets/font/BasisGrotesquePro-Bold.ttf');
}
html {
  height: 100%;
  width: 100%;
}
* {
  font-family: 'Basis Grotesque Regular';
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  opacity: 0.5;
}
a:focus {
  background-color: transparent;
}
a:active {
  background-color: transparent;
}
p {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
p img {
  max-width: 43rem;
}
@media screen and (max-width: 768px) {
  p img {
    max-width: calc(100% - 2rem);
  }
}
button:hover {
  background-color: transparent !important;
  opacity: 0.8;
}
button:focus {
  outline: none !important;
}
.header {
  position: fixed;
  width: 100%;
  height: 2.75rem;
  background-color: #A59484;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999;
}
.header-left {
  margin-left: 3rem;
  display: flex;
  align-items: center;
}
.header-right {
  margin-right: 3rem;
  display: flex;
}
.footer {
  height: calc(100vh - 2.75rem);
  width: 100%;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .footer {
    height: 43rem;
  }
}
.footer-background {
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/footer_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-left {
  width: 50%;
  height: 100%;
  background-color: #A59484;
  position: relative;
}
@media screen and (max-width: 900px) {
  .footer-left {
    width: 100%;
  }
}
.footer-left-decoration-1 {
  position: absolute;
  top: -2.313rem;
  left: -5.25rem;
  transform: rotate(-21.23deg);
}
.footer-left-decoration-2 {
  position: absolute;
  top: -1.313rem;
  right: -5.25rem;
}
.footer-left-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 11.438rem;
  padding-top: 8.375rem;
  padding-bottom: 5.938rem;
}
@media screen and (max-width: 1024px) {
  .footer-left-block {
    padding-left: 4.438rem;
    padding-top: 4.375rem;
    padding-bottom: 3.938rem;
  }
}
@media screen and (max-width: 960px) {
  .footer-left-block {
    padding-left: 2.5rem;
  }
}
.footer-right {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .footer-right {
    width: 100%;
    height: 50vw;
  }
}
.ham {
  display: none;
  min-height: 100vh;
  width: 100%;
  background-color: #A59484;
  position: fixed;
  z-index: 99999;
}
.owl-nav {
  position: absolute !important;
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  left: 0;
  right: 0;
  margin: auto;
  width: 25rem;
}
@media screen and (max-width: 960px) {
  .owl-nav {
    width: 21rem;
  }
}
@media screen and (max-width: 700px) {
  .owl-nav {
    width: 82px;
    justify-content: center !important;
    left: 2.5rem;
    right: 0;
    margin: 0;
  }
}
.owl-dots {
  margin-top: 10px !important;
  position: absolute !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  left: 0;
  right: 0;
  margin: auto;
  width: 18.75rem;
  height: 3.428rem;
}
@media screen and (max-width: 900px) {
  .owl-dots {
    position: relative !important;
  }
}
.lines {
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: end;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 960px) {
  .lines {
    text-align: start;
  }
}
.owl-theme .lines .line {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-carousel button.owl-next,
.owl-carousel button.owl-prev,
.owl-carousel button.line {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
}
.owl-carousel .line,
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-theme .lines .line span {
  width: 2rem;
  height: 2px;
  margin: 0.438rem 0.875rem 0.438rem 0;
  background: rgba(76, 85, 99, 0.2);
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 1.875rem;
}
.owl-theme .lines .line.active span,
.owl-theme .lines .line:hover span {
  background: #A59484;
}
.margin-top-97 {
  margin-top: 6.063rem;
}
@media screen and (max-width: 1024px) {
  .margin-top-97 {
    margin-top: 4.063rem;
  }
}
.margin-top-55 {
  margin-top: 3.438rem;
}
.margin-top-45 {
  margin-top: 2.813rem;
}
.margin-top-40 {
  margin-top: 2.5rem;
}
.margin-top-19 {
  margin-top: 1.188rem;
}
.margin-bottom-97 {
  margin-bottom: 6.063rem;
}
@media screen and (max-width: 1024px) {
  .margin-bottom-97 {
    margin-bottom: 4.063rem;
  }
}
.margin-bottom-81 {
  margin-bottom: 5.063rem;
}
@media screen and (max-width: 1024px) {
  .margin-bottom-81 {
    margin-bottom: 3.063rem;
  }
}
.margin-bottom-66 {
  margin-bottom: 4.125rem;
}
.margin-bottom-50 {
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 1024px) {
  .margin-bottom-50 {
    margin-bottom: 2.125rem;
  }
}
.margin-bottom-40 {
  margin-bottom: 2.5rem;
}
.margin-bottom-38 {
  margin-bottom: 2.375rem;
}
.margin-bottom-35 {
  margin-bottom: 2.188rem;
}
.margin-bottom-30 {
  margin-bottom: 1.875rem;
}
.margin-bottom-22 {
  margin-bottom: 1.375rem;
}
.margin-bottom-16 {
  margin-bottom: 1rem;
}
.margin-bottom-14 {
  margin-bottom: 0.875rem;
}
.margin-bottom-11 {
  margin-bottom: 0.688rem;
}
.margin-bottom-9 {
  margin-bottom: 0.563rem;
}
.margin-bottom-6 {
  margin-bottom: 0.375rem;
}
.margin-left-202 {
  margin-left: 12.625rem;
}
.margin-left-114 {
  margin-left: 7.125rem;
}
@media screen and (max-width: 1366px) {
  .margin-left-114 {
    margin-left: 4.125rem;
  }
}
@media screen and (max-width: 960px) {
  .margin-left-114 {
    margin-left: 2.5rem;
  }
}
.margin-left-64 {
  margin-left: 4rem;
}
@media screen and (max-width: 1024px) {
  .margin-left-64 {
    margin-left: 2.2rem;
  }
}
.margin-left-40 {
  margin-left: 2.5rem;
}
.margin-left-16 {
  margin-left: 1rem;
}
.margin-right-120 {
  margin-right: 7.5rem;
}
@media screen and (max-width: 1024px) {
  .margin-right-120 {
    margin-right: 4.5rem;
  }
}
.margin-right-100 {
  margin-right: 6.25rem;
}
@media screen and (max-width: 1024px) {
  .margin-right-100 {
    margin-right: 2.25rem;
  }
}
.margin-right-95 {
  margin-right: 5.938rem;
}
.margin-right-60 {
  margin-right: 3.75rem;
}
@media screen and (max-width: 1024px) {
  .margin-right-60 {
    margin-right: 2rem;
  }
}
.margin-right-55 {
  margin-right: 3.438rem;
}
.margin-right-40 {
  margin-right: 2.5rem;
}
.margin-right-19 {
  margin-right: 1.188rem;
}
.margin-right-16 {
  margin-right: 1rem;
}
.padding-75 {
  padding: 4.688rem;
}
@media screen and (max-width: 768px) {
  .padding-75 {
    padding: 2.5rem;
  }
}
.padding-40 {
  padding: 2.5rem;
}
.padding-top-160 {
  padding-top: 10rem;
}
@media screen and (max-width: 1024px) {
  .padding-top-160 {
    padding-top: 5rem;
  }
}
.padding-top-90 {
  padding-top: 5.625rem;
}
@media screen and (max-width: 1024px) {
  .padding-top-90 {
    padding-top: 3.625rem;
  }
}
.padding-bottom-160 {
  padding-bottom: 10rem;
}
@media screen and (max-width: 1024px) {
  .padding-bottom-160 {
    padding-bottom: 5rem;
  }
}
.padding-bottom-90 {
  padding-bottom: 5.625rem;
}
@media screen and (max-width: 1024px) {
  .padding-bottom-90 {
    padding-bottom: 3.625rem;
  }
}
.padding-left-202 {
  padding-left: 12.625rem;
}
.padding-left-114 {
  padding-left: 7.125rem;
}
@media screen and (max-width: 960px) {
  .padding-left-114 {
    padding-left: 2.5rem;
  }
}
.padding-right-202 {
  padding-right: 12.625rem;
}
.border-box {
  box-sizing: border-box;
}
.width-854 {
  max-width: 53.375rem;
}
@media screen and (max-width: 1024px) {
  .width-854 {
    max-width: 40.375rem;
  }
}
@media screen and (max-width: 900px) {
  .width-854 {
    max-width: 100%;
  }
}
.width-710 {
  max-width: 44.375rem;
}
@media screen and (max-width: 1366px) {
  .width-710 {
    max-width: 32.375rem;
  }
}
@media screen and (max-width: 1024px) {
  .width-710 {
    max-width: 25.375rem;
  }
}
@media screen and (max-width: 960px) {
  .width-710 {
    max-width: 22.375rem;
  }
}
@media screen and (max-width: 900px) {
  .width-710 {
    max-width: 100%;
  }
}
.width-550 {
  max-width: 34.375rem;
}
@media screen and (max-width: 1366px) {
  .width-550 {
    max-width: 32.375rem;
  }
}
.width-516 {
  max-width: 32.25rem;
}
.width-462 {
  max-width: 28.875rem;
}
@media screen and (max-width: 1024px) {
  .width-462 {
    max-width: 24.875rem;
  }
}
@media screen and (max-width: 900px) {
  .width-462 {
    max-width: 100%;
  }
}
.width-439 {
  max-width: 27.438rem;
}
@media screen and (max-width: 960px) {
  .width-439 {
    max-width: 21.438rem;
  }
}
@media screen and (max-width: 900px) {
  .width-439 {
    max-width: 100%;
  }
}
.width-24vw {
  width: 24vw;
  min-width: 17.725rem;
}
.width-50per {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .width-50per {
    width: 100%;
  }
}
.width-80per {
  width: 80%;
}
.width-100per {
  width: 100%;
}
.width-135-per {
  width: 135%;
}
@media screen and (max-width: 900px) {
  .width-135-per {
    width: 100%;
  }
}
.height-430 {
  height: 26.875rem;
}
@media screen and (max-width: 1024px) {
  .height-430 {
    height: 15.875rem;
  }
}
@media screen and (max-width: 960px) {
  .margin-960-left-none {
    margin-left: 0;
  }
  .margin-960-right-none {
    margin-right: 0;
  }
}
@media screen and (max-width: 900px) {
  .margin-900-bottom-40 {
    margin-bottom: 2.5rem;
  }
  .margin-900-left-40 {
    margin-left: 2.5rem;
  }
  .margin-900-right-40 {
    margin-right: 2.5rem;
  }
  .margin-900-right-none {
    margin-right: 0;
  }
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-3-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  line-height: 1.375rem;
}
.flex-wrap-7-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  line-height: 1.375rem;
}
.ju-co-between {
  justify-content: space-between;
}
.ju-co-center {
  justify-content: center;
}
.al-it-center {
  align-items: center;
}
.al-it-end {
  align-items: flex-end;
}
.display-none {
  display: none;
}
@media screen and (max-width: 1024px) {
  .display-none-1024 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .display-none-960 {
    display: none;
  }
  .flex-960 {
    display: flex;
  }
  .flex-960-row {
    flex-direction: row;
  }
  .flex-960-column {
    flex-direction: column;
  }
  .flex-960-column-reverse {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 900px) {
  .display-none-900 {
    display: none;
  }
  .flex-900 {
    display: flex;
  }
  .flex-900-row {
    flex-direction: row;
  }
  .flex-900-column {
    flex-direction: column;
  }
  .flex-900-column-reverse {
    flex-direction: column-reverse;
  }
  .al-it-900-center {
    align-items: center;
  }
  .ju-co-900-center {
    justify-content: center;
  }
}
.font-gotham {
  font-family: 'Gotham';
}
.font-bold {
  font-family: 'Basis Grotesque Bold';
  font-weight: 500;
}
.font-300 {
  font-family: 'Basis Grotesque Light';
  font-weight: 300;
}
.font-64 {
  font-size: 4rem;
}
@media screen and (max-width: 1024px) {
  .font-64 {
    font-size: 1.625rem;
  }
}
.font-46 {
  font-size: 2.875rem;
}
@media screen and (max-width: 1024px) {
  .font-46 {
    font-size: 1.625rem;
  }
}
.font-36 {
  font-size: 2.25rem;
}
@media screen and (max-width: 1024px) {
  .font-36 {
    font-size: 1.5rem;
  }
}
.font-32 {
  font-size: 2rem;
}
@media screen and (max-width: 1024px) {
  .font-32 {
    font-size: 1.5rem;
  }
}
.font-24 {
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .font-24 {
    font-size: 1rem;
  }
}
.font-22 {
  font-size: 1.135rem;
}
@media screen and (max-width: 1024px) {
  .font-22 {
    font-size: 1rem;
  }
}
.font-20 {
  font-size: 1.25rem;
}
@media screen and (max-width: 1024px) {
  .font-20 {
    font-size: 1rem;
  }
}
.font-18 {
  font-size: 1.125rem;
}
.font-14 {
  font-size: 0.875rem;
}
.color-white {
  color: #ffffff;
}
.color-black {
  color: #4C5563;
}
.line-height-17 {
  line-height: 1.063rem;
}
.line-height-19 {
  line-height: 1.188rem;
}
.line-height-22 {
  line-height: 1.375rem;
}
.line-height-24 {
  line-height: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .line-height-24 {
    line-height: 1.188rem;
  }
}
.line-height-26 {
  line-height: 1.625rem;
}
@media screen and (max-width: 1024px) {
  .line-height-26 {
    line-height: 1.188rem;
  }
}
.line-height-28 {
  line-height: 1.75rem;
}
@media screen and (max-width: 1024px) {
  .line-height-28 {
    line-height: 1.375rem;
  }
}
.line-height-38 {
  line-height: 2.375rem;
}
@media screen and (max-width: 1024px) {
  .line-height-38 {
    line-height: 1.75rem;
  }
}
.line-height-42 {
  line-height: 2.625rem;
}
@media screen and (max-width: 1024px) {
  .line-height-42 {
    line-height: 1.75rem;
  }
}
.line-height-54 {
  line-height: 3.375rem;
}
@media screen and (max-width: 1024px) {
  .line-height-54 {
    line-height: 1.938rem;
  }
}
.line-height-75 {
  line-height: 4.688rem;
}
@media screen and (max-width: 1024px) {
  .line-height-75 {
    line-height: 1.938rem;
  }
}
.text-align-center {
  text-align: center;
}
.background-color-white {
  background-color: #ffffff;
}
.background-color-gold {
  background-color: #A59484;
}
.background-color-blue {
  background-color: #003E7E;
}
.background-color-grey {
  background-color: #F4F4F4;
}
.background-color-grey-dark {
  background-color: #76757619;
}
.home-intro {
  height: calc(100vh - 2.75rem);
  width: 100%;
  box-sizing: border-box;
  background-image: url('../assets/images/home_intro.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .home-intro {
    height: 34.375rem;
  }
}
@media screen and (max-width: 960px) {
  .home-intro {
    height: 80vw;
  }
}
.home-intro-play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 4.688rem;
  width: 4.688rem;
  cursor: pointer;
}
.home-about {
  height: calc(100vh - 2.75rem);
}
@media screen and (max-width: 1024px) {
  .home-about {
    height: 45.375rem;
  }
}
@media screen and (max-width: 960px) {
  .home-about {
    height: auto;
  }
}
.home-about-background {
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/about_background.png');
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
.home-about-image {
  height: 100%;
  background-image: url(../assets/images/home_about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 960px) {
  .home-about-image {
    height: 80vw;
  }
}
.line-white {
  width: 6.125rem;
  min-width: 6.125rem;
  height: 1px;
  background-color: #ffffff;
}
@media screen and (max-width: 1366px) {
  .line-white {
    width: 4.125rem;
    min-width: 4.125rem;
  }
}
.line-black {
  width: 6.125rem;
  min-width: 6.125rem;
  height: 1px;
  background-color: #000000;
}
@media screen and (max-width: 1366px) {
  .line-black {
    width: 4.125rem;
    min-width: 4.125rem;
  }
}
.line-transparent {
  width: 6.125rem;
  min-width: 6.125rem;
  height: 1px;
  background-color: transparent;
}
@media screen and (max-width: 1366px) {
  .line-transparent {
    width: 4.125rem;
    min-width: 4.125rem;
  }
}
.line-small-black {
  width: 3.375rem;
  min-width: 3.375rem;
  height: 1px;
  background-color: #000000;
}
.image {
  width: 24vw;
  min-width: 17.725rem;
  height: 19.625rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 560px) {
  .image {
    height: 17.725rem;
  }
}
.about-picture-1 {
  height: calc(95vh - 2.75rem);
  width: 100%;
  box-sizing: border-box;
  background-image: url('../assets/images/about_1.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .about-picture-1 {
    height: 40.375rem;
  }
}
@media screen and (max-width: 960px) {
  .about-picture-1 {
    height: 80vw;
  }
}
.about-picture-1-play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 4.688rem;
  width: 4.688rem;
  cursor: pointer;
}
.about-picture-2 {
  height: calc(100vh - 2.75rem);
  width: 100%;
  box-sizing: border-box;
  background-image: url('../assets/images/about_2.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .about-picture-2 {
    height: 40.375rem;
  }
}
@media screen and (max-width: 960px) {
  .about-picture-2 {
    height: 80vw;
  }
}
.about-logo {
  height: 40.625rem;
  width: 100%;
  background-color: #003E7E;
}
@media screen and (max-width: 1366px) {
  .about-logo {
    height: 29.375rem;
  }
}
.blog-intro {
  height: 80vh;
  width: 100%;
  background-color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .blog-intro {
    height: auto;
  }
}
.blog-intro-image {
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .blog-intro-image {
    height: 40.375rem;
  }
}
@media screen and (max-width: 960px) {
  .blog-intro-image {
    height: 80vw;
  }
}
@media screen and (max-width: 900px) {
  .blog-intro-image {
    width: 100%;
  }
}
.post-text {
  width: 38.375rem;
}
.background-image {
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/white_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.treatments-intro {
  height: calc(100vh - 2.75rem);
  width: 100%;
  background-image: url('../assets/images/treatments_intro.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .treatments-intro {
    height: 40.375rem;
  }
}
@media screen and (max-width: 960px) {
  .treatments-intro {
    height: 80vw;
  }
}
.treatments-intro-title {
  font-size: 4rem;
  line-height: 4.688rem;
  max-width: 32.25rem;
}
@media screen and (max-width: 1440px) {
  .treatments-intro-title {
    font-size: 2.875rem;
    line-height: 3.375rem;
    max-width: 24.125rem;
  }
}
@media screen and (max-width: 1024px) {
  .treatments-intro-title {
    font-size: 1.8625rem;
    line-height: 1.938rem;
    max-width: 20.125rem;
  }
}
@media screen and (max-width: 960px) {
  .treatments-intro-title {
    max-width: 100%;
    margin-right: 2.4rem;
    margin-left: 2.5rem;
  }
}
.treatments-intro-text {
  max-width: 32.25rem;
}
@media screen and (max-width: 1440px) {
  .treatments-intro-text {
    max-width: 24.125rem;
  }
}
@media screen and (max-width: 1024px) {
  .treatments-intro-text {
    max-width: 20.125rem;
  }
}
@media screen and (max-width: 960px) {
  .treatments-intro-text {
    max-width: 100%;
    margin-right: 2.4rem;
    margin-left: 2.5rem;
    box-sizing: border-box;
  }
}
.treatments-tretment {
  width: 24vw;
  min-width: 17.725rem;
}
.treatments-tretment-image {
  width: 100%;
  height: 19.625rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 560px) {
  .treatments-tretment-image {
    height: 17.725rem;
  }
}
.treatments-tretment-text {
  max-width: 22.5vw;
}
@media screen and (max-width: 960px) {
  .treatments-tretment-text {
    max-width: 100%;
    margin-right: 2.5rem;
    box-sizing: border-box;
  }
}
.testimonial {
  width: 50%;
  height: 33vw;
}
@media screen and (max-width: 1280px) {
  .testimonial {
    height: 40vw;
  }
}
@media screen and (max-width: 960px) {
  .testimonial {
    height: 31rem;
  }
}
@media screen and (max-width: 900px) {
  .testimonial {
    width: 100%;
    height: auto;
    background-color: #F4F4F4;
  }
}
.testimonial-logo {
  max-width: 16vw;
  max-height: 13.66vw;
}
@media screen and (max-width: 1440px) {
  * {
    font-size: 15px;
  }
}
@media screen and (max-width: 1336px) {
  * {
    font-size: 14.5px;
  }
}
@media screen and (max-width: 1280px) {
  * {
    font-size: 14px;
  }
}
