<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <base href="{{_BASE}}">
  <title>John G. Strugar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <meta name="description" content="{% block description %}{% endblock %}"/> #}
  <link rel="stylesheet" type="text/css" href="cms/sharedstyle.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body >


{% block content %}{% endblock %}


</body>
</html>
