<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <base href="{{_BASE}}">
  <title>John G. Strugar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <meta name="description" content="{% block description %}{% endblock %}"/> #}
  <link rel="stylesheet" type="text/css" href="cms/sharedstyle.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body >

<div class="header">
	<div class="header-left">
		<a href="#">
			<img class="margin-right-100" src="./assets/images/full-logo.png">
		</a>
		<a href="about_us" class="font-14 color-white font-gotham margin-right-60">About</a>
		<a class="font-14 color-white font-gotham margin-right-60">Treatments</a>
		<a href="blog" class="font-14 color-white font-gotham">Blog</a>
	</div>
	<div class="header-right">
		<p class="font-14 color-white font-gotham margin-right-16">Address</p>
		<p class="font-14 color-white font-gotham margin-right-55">500 Chase Parkway Waterbury, CT 06708</p>
		<p class="font-14 color-white font-gotham margin-right-16">Phone</p>
		<p class="font-14 color-white font-gotham margin-right-55">+1 (0) 44 832 58 58</p>
		<a class="font-14 color-white font-gotham">Contact</a>
	</div>
</div>
<div style="height: 2.75rem; width: 100%;"></div>

{% block content %}{% endblock %}

<div class="footer">
	<div class="footer-left">
		{# <div class="footer-left-decoration-1">
			<img src="./assets/images/decoration1.png">
		</div>
		<div class="footer-left-decoration-2">
			<img src="./assets/images/decoration2.png">
		</div> #}
		<div class="footer-left-block">
			<div class="flex flex-column">
				<div class="font-46 color-white font-bold margin-bottom-35">CONTACT</div>
				<div class="font-24 color-white">Lorem Ipsum is simply dummy </br> text of the printing</div>
			</div>
			<div class="flex flex-column">
				<div class="font-24 color-white margin-bottom-66">Address</div>
				<div class="flex">
					<div class="flex flex-column margin-right-95">
						<p class="font-14 color-white line-height-17 margin-bottom-16">WATERBURY</p>
						<p class="font-14 color-white line-height-17">Main Office</p>
						<p class="font-14 color-white line-height-17">500 Chase Parkway</p>
						<p class="font-14 color-white line-height-17 margin-bottom-16">Waterbury, CT 06708</p>
						<p class="font-14 color-white line-height-17">Phone: 203-755-6677</p>
						<p class="font-14 color-white line-height-17">Toll-Free: (800) 463-8764</p>
					</div>
					<div class="flex flex-column">
						<p class="font-14 color-white line-height-17 margin-bottom-16">WATERBURY</p>
						<p class="font-14 color-white line-height-17">Hand to Shoulder Center</p>
						<p class="font-14 color-white line-height-17">1320 West Main Street</p>
						<p class="font-14 color-white line-height-17 margin-bottom-16">Waterbury, CT 06708</p>
						<p class="font-14 color-white line-height-17">Phone: 203-755-6677</p>
					</div>
				</div>
			</div>
			<div class="flex flex-column">
				<div class="font-24 color-white margin-bottom-30">Social networks</div>
				<div class="flex">
					<img class="margin-right-16" src="./assets/images/icons/ig.png">
					<img class="margin-right-16" src="./assets/images/icons/facebook.png">
					<img src="./assets/images/icons/in.png">
				</div>
			</div>
		</div>
	</div>
	<div class="footer-right">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2986.0018225965655!2d-73.06685628456921!3d41.54755777924971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7c1c769116965%3A0x193ab5f6d2d2a41d!2sNOSS%3B%20Neurosurgery%2C%20Orthopaedics%20%26%20Spine%20Specialists%2C%20PC!5e0!3m2!1sen!2srs!4v1590764643079!5m2!1sen!2srs" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</div>



</body>
</html>
