{% extends "base.twig" %}
{% block content %}

<!-- intro -->
<div class="home-intro flex al-it-center">
	<img class="home-intro-play" src="./assets/images/icons/play.png">
	<div class="flex flex-column">
		<div class="font-16 color-white line-height-19 margin-left-202 margin-bottom-16">Treatments</div>
		<div class="flex">
			<div class="line-white margin-left-64 margin-top-19"></div>
			<div class="font-32 color-white line-height-38 margin-bottom-38 width-416 margin-left-40">Lorem Ipsum is simply dummy text</div>
		</div>
		<div class="font-14 color-white font-300 line-height-22 margin-left-202 margin-bottom-66 width-462">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
		<div class="flex al-it-center">
			<div class="line-white margin-left-64"></div>
			<div class="font-16 font-bold color-white line-height-19 margin-left-40 margin-right-19">Read more</div>
			<img src="./assets/images/icons/arrowRight.png">
		</div>
	</div>
</div>

<!-- treatments -->

<!-- blog posts -->
<div class="background-color-grey flex flex-column">
	<div class="flex al-it-center margin-bottom-81 margin-top-97">
		<div class="line-black margin-left-64"></div>
		<div class="font-32 color-black line-height-38 margin-left-40">General Health Advice</div>
	</div>
	<div class="flex ju-co-between padding-left-202 padding-right-202 margin-bottom-97">
	<!-- 1 -->
		<div class="flex flex-column">
			<img class="image margin-bottom-22" src="./assets/images/test.jpg">
			<div class="width-20vw font-24 font-bold color-black line-height-28 margin-bottom-14">Lorem Ipsum is simply dummy text of the printing</div>
			<div class="width-20vw font-14 color-black line-height-22 margin-bottom-22">Lorem Ipsum is simply dummy text of the printing</div>
			<div class="flex al-it-center">
				<div class="line-small-black margin-right-16"></div>
				<div class="font-16 font-bold color-black line-height-19 margin-right-19">Read more</div>
				<img src="./assets/images/icons/arrowRight.png">
			</div>
		</div>
	<!-- 2 -->
		<div class="flex flex-column">
			<img class="image margin-bottom-22" src="./assets/images/test.jpg">
			<div class="width-20vw font-24 font-bold color-black line-height-28 margin-bottom-14">Lorem Ipsum is simply dummy text of the printing</div>
			<div class="width-20vw font-14 color-black line-height-22 margin-bottom-22">Lorem Ipsum is simply dummy text of the printing</div>
			<div class="flex al-it-center">
				<div class="line-small-black margin-right-16"></div>
				<div class="font-16 font-bold color-black line-height-19 margin-right-19">Read more</div>
				<img src="./assets/images/icons/arrowRight.png">
			</div>
		</div>
	<!-- 3 -->
		<div class="flex flex-column">
			<img class="image margin-bottom-22" src="./assets/images/test.jpg">
			<div class="width-20vw font-24 font-bold color-black line-height-28 margin-bottom-14">Lorem Ipsum is simply dummy text of the printing</div>
			<div class="width-20vw font-14 color-black line-height-22 margin-bottom-22">Lorem Ipsum is simply dummy text of the printing</div>
			<div class="flex al-it-center">
				<div class="line-small-black margin-right-16"></div>
				<div class="font-16 font-bold color-black line-height-19 margin-right-19">Read more</div>
				<img src="./assets/images/icons/arrowRight.png">
			</div>
		</div>
	</div>
</div>

<!-- about -->

<!-- text -->

{% endblock %}