{% extends "base.twig" %}
{% block content %}

<!-- intro -->
<div class="treatments-intro flex al-it-center">
	<div class="flex flex-column">
		<div class="treatments-intro-title color-black margin-left-114 margin-bottom-50">General text about treatments</div>
		<div class="treatments-intro-text font-14 color-black line-height-22 margin-bottom-38 width-386 margin-left-114">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
	</div>
</div>

<!-- treatments -->
<div class="font-32 line-height-38 color-black background-color-white padding-left-114 padding-top-90 padding-bottom-90">Treatments</div>
<div class="flex flex-wrap">
	<!-- 1 -->
	<div class="treatments-tretment flex flex-column margin-bottom-81">
		<img class="treatments-tretment-image margin-bottom-50" src="./assets/images/test2.jpg">
		<div class="treatments-tretment-text font-20 line-height-24 font-bold color-black margin-left-114 margin-bottom-22">Spinal diseases of the young</div>
		<div class="treatments-tretment-text font-14 color-black line-height-22 margin-bottom-38 margin-left-114">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</div>
		<div class="flex al-it-center">
			<div class="line-black margin-left-114"></div>
			<div class="font-16 font-gotham color-black line-height-19 margin-left-40 margin-right-19">Read more</div>
			<img src="./assets/images/icons/arrowRight.png">
		</div>
	</div>
	<!-- 2 -->
	<div class="treatments-tretment flex flex-column margin-bottom-81">
		<img class="treatments-tretment-image margin-bottom-50" src="./assets/images/test2.jpg">
		<div class="treatments-tretment-text font-20 line-height-24 font-bold color-black margin-left-114 margin-bottom-22">Spinal diseases of the young</div>
		<div class="treatments-tretment-text font-14 color-black line-height-22 margin-bottom-38 margin-left-114">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</div>
		<div class="flex al-it-center">
			<div class="line-black margin-left-114"></div>
			<div class="font-16 font-gotham color-black line-height-19 margin-left-40 margin-right-19">Read more</div>
			<img src="./assets/images/icons/arrowRight.png">
		</div>
	</div>
	<!-- 3 -->
	<div class="treatments-tretment flex flex-column margin-bottom-81">
		<img class="treatments-tretment-image margin-bottom-50" src="./assets/images/test2.jpg">
		<div class="treatments-tretment-text font-20 line-height-24 font-bold color-black margin-left-114 margin-bottom-22">Spinal diseases of the young</div>
		<div class="treatments-tretment-text font-14 color-black line-height-22 margin-bottom-38 margin-left-114">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</div>
		<div class="flex al-it-center">
			<div class="line-black margin-left-114"></div>
			<a href="treatment" class="font-16 font-gotham color-black line-height-19 margin-left-40 margin-right-19">Read more</a>
			<a href="treatment"><img src="./assets/images/icons/arrowRight.png"></a>
		</div>
	</div>

</div>

<!-- testimonial -->
{% include 'testimonial.twig' %}

{% endblock %}